<main class="main">
  <div class="container">
    <div class="details">
      <hr>
      <div class="details__header">
        <p class="details__cost">Cost: 2400$</p>
        <button class="details__cart">Add to Cart</button>
        <button class="details__buy">Buy now</button>
      </div>
      <hr>
      <div class="details__wrapper">
        <div class="description">
          <p class="description__path">Home &gt; <span class="description__category" id="path-category">Laptops</span>
            &gt; <span class="description__brand" id="path-brand">ADATA XPG</span></p>
          <h2 class="description__title">ADATA XPG Xenia 14</h2>
          <div class="description__item">
            <h3 class="description__caption">Description:</h3>
            <p class="description__info" id="desc">A laptop ADATA XPG Xenia 14, 14", IPS, Intel Core i5
              1135G7 2.4GHz, 16Gb, 512Gb SSD, Intel Iris Xe graphics , Windows 10 Home, black</p>
          </div>
          <div class="description__item">
            <h3 class="description__caption">Category:</h3>
            <p class="description__info" id="category">Laptops</p>
          </div>
          <div class="description__item">
            <h3 class="description__caption">Brand:</h3>
            <p class="description__info" id="brand">ADATA XPG</p>
          </div>
          <div class="description__item">
            <h3 class="description__caption">Raiting:</h3>
            <p class="description__info" id="rating">4.8</p>
          </div>
          <div class="description__item">
            <h3 class="description__caption">Stock:</h3>
            <p class="description__info" id="stock">3</p>
          </div>
        </div>
        <div class="details__photo">
          <p class="details__discount">Sale 5%</p>
          <div class="details__container">
            <div class="details__image"></div>
          </div>
          <div class="details__thumbnails">
            <div class="details__thumbnail details__thumbnail_checked"></div>
            <div class="details__thumbnail"></div>
            <div class="details__thumbnail"></div>
            <div class="details__thumbnail"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>