<main class="main">
  <div  class="container">
    <div class="details">
      <hr>
      <div class="details__header">
        <p class="details__cost">Cost: 0$</p>
        <button class="details__cart">Add to Cart</button>
        <button class="details__buy">Buy now</button>
      </div>
      <hr>
      <div class="details__wrapper">
        <div class="description">
          <p class="description__path">Home &gt; <span class="description__category" id="path-category">Category</span> &gt; <span class="description__brand" id="path-brand">Brand</span></p>
          <h2 class="description__title">Title</h2>
        </div>
        <div class="details__photo">
          <p class="details__discount">Sale 0%</p>
          <div class="details__container">
            <div class="details__image"></div>
          </div>
          <div class="details__thumbnails">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>