@import '../../styles/buttons';
@import '../../styles/palette.scss';

.main {
  padding-top: 30px;
  padding-bottom: 30px;

  &__content {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 10px;
  }
}

.filters {
  height: 750px;
  background-color: $light-blue;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;

  &__title {
    margin: 0;
    margin-bottom: 15px;
  }

  &__section {
    padding-top: 5px;
    margin-bottom: 20px;
  }

  &__label {
    margin: 0;
    margin-bottom: 10px;
  }
}

.btn-wrapper {
  margin-bottom: 20px;

  .btn {
    @include button;
  }
}

.scroll-filter {
  height: 150px;
  overflow-y: scroll;
  border: 1px solid $gray;
  border-radius: 10px;
  list-style: none;
  padding: 0;
  padding-top: 10px;
  margin: 0;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 3x;
    margin: 3px;
    -webkit-background-color: $gray;
    -webkit-border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray;
    border-radius: 3px;
    -webkit-background: $gray;
    -webkit-border-radius: 3px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  &__input {
    margin-right: 20px;
  }

  &__label {
    flex-grow: 1;
    text-transform: uppercase;
    text-align: left;
    font-size: 13px;
    line-height: 35px;
    color: $dark;
  }

  &__amount {
    font-size: 13px;
    line-height: 35px;
    color: $dark;
  }
}

.range-filter {
  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__control {
    position: relative;
    min-height: 35px;
  }

  &__input {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: $gray;
    pointer-events: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: 20px;
      height: 20px;
      background-color: $primary;
      border-radius: 50%;
      box-shadow: 0 0 0 1px gray;
      cursor: pointer;
    }

    &::-webkit-slider-thumb:hover {
      background: $light-blue;
    }

    &::-webkit-slider-thumb:active {
      box-shadow: inset 0 0 3px $blue, 0 0 9px $blue;
      -webkit-box-shadow: inset 0 0 3px $blue, 0 0 9px $blue;
    }

    &_from {
      height: 0;
      z-index: 1;
    }
  }
}

.products {
  padding: 0 10px;

  &__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;

    &_row {
      grid-template-columns: 1fr;
    }
  }
}

.dropdown {
  position: relative;
  width: 250px;
  height: 48px;
  background: rgba(255, 255, 255, 0.85);
  outline-color: $blue;
  border: 1px solid $gray;
  color: $primary-dark;
  font-size: 16px;
  line-height: 44px;
  border-radius: 10px;
  padding: 0 10px;
  cursor: pointer;

  &_active {
    border: transparent;
    background-color: $gray;
  }

  &__label {
    position: relative;
    display: block;
    white-space: nowrap;
    padding-right: 20px;
    text-align: left;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -3px;
      margin-top: -10px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('../../assets/icons/open-arrow.svg');
    }

    &_active::after {
      background-image: url('../../assets/icons/close-arrow.svg');
    }
  }

  &__input {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &__list {
    display: none;
    position: absolute;
    z-index: 1;
    top: 48px;
    left: 0;
    width: 100%;
    height: 180px;
    overflow-y: scroll;
    background-color: $light-blue;
    border: 1px solid $primary-dark;
    border-radius: 10px;
    color: $primary-dark;
    list-style: none;
    margin: 0;
    margin-top: -1px;
    padding: 0;
    text-align: left;

    &_visible {
      display: block;
    }

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 3x;
      margin: 3px;
      -webkit-background-color: $gray;
      -webkit-border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray;
      border-radius: 3px;
      -webkit-background: $gray;
      -webkit-border-radius: 3px;
    }
  }

  &__item {
    position: relative;
    cursor: pointer;
    padding-left: 10px;

    &:hover {
      color: $blue;
    }
  }
}

.search {
  &__input {
    position: relative;
    width: 250px;
    height: 48px;
    background: rgba(255, 255, 255, 0.85);
    outline-color: $blue;
    border: 1px solid $gray;
    color: $primary-dark;
    font-size: 16px;
    line-height: 44px;
    border-radius: 10px;
    padding: 0 10px;
  }
}

.layout {
  &__btn {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    &_active {
      border: 1px solid $blue;
      border-radius: 5px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &_grid::after {
      background-image: url('../../assets/icons/grid-3x3.svg');
    }

    &_row::after {
      background-image: url('../../assets/icons/view-stacked.svg');
    }
  }

  &__btn + &__btn {
    margin-left: 10px;
  }
}

.product {
  padding: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 10px $gray;
    border-radius: 10px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: $primary-dark;
  }

  .wrapper {
    width: 100%;
  }

  .img-wrapper {
    width: 270px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin: 0 auto;
  }

  &__img {
    width: 50%;
    object-fit: contain;
    overflow: hidden;
  }

  &__title {
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
  }

  &__feature {
    width: 100%;
    text-align: left;
    line-height: 30px;

    &_rate {
      .rating {
        position: relative;
        padding-right: 20px;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          width: 16px;
          height: 16px;
          background-image: url('../../assets/icons/star.svg');
          background-repeat: no-repeat;
          background-size: contain;
          margin-top: -8px;
        }
      }
    }

    &_price {
      font-weight: 800;
    }
  }

  &__btn {
    @include button;
    position: relative;
    border-radius: 5px;
    padding-left: 20px;
    line-height: 30px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 2px;
      width: 16px;
      height: 16px;
      background-image: url('../../assets/icons/cart-plus.svg');
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: -8px;
    }
  }
}
